header, footer {
  color: rgb(250, 11, 11);
  line-height: 100px;
  font-weight: bold;
}
body {
  background: rgb(150, 148, 148);
  text-align: justify;
  font-family:Arial, Helvetica, sans-serif;
  color: white;
}

.title, h1 {
  
  font-family: 'chiller', cursive;
  font-size: 5em;
}
