header, footer {
  color: rgb(250, 11, 11);
  font-weight: bold;
}

body {
  background: rgb(150, 148, 148);
  text-align: justify;
  font-family:Arial, Helvetica, sans-serif;
  color: white;
}

.title, h1, h2 {
  font-family: 'chiller', cursive;
  font-size: 5em;
  text-align: center;

}

.copyright {
  text-decoration: none;
  font-size: 1.5em;
  color: rgb(250, 11, 11);
}

.logoHeader {
  vertical-align: sub;
}

footer {
  line-height: 100px;
}